<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <%- include('../../components/header/head'); -%>

    <!-- Favicon -->
    <%- include('../../components/header/favicon'); -%>

    <!-- Styles -->
    <%- include('../../components/header/styles'); -%>

    <style>
      .box {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <!-- Side Bar -->
    <%- include('../../components/nav/sidebar'); -%>

    <main class="content">
      <!-- header bar -->
      <%- include('../../components/nav/navbar'); -%>

      <div class="py-4 d-flex">
        <%- include('./partials/shortcuts'); -%>
      </div>
      <div class="row">
        <div class="col-12 mb-4">
            <%- include('./partials/salesChartCard'); -%>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
        	<%- include('./partials/totalCustomerCard') -%>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
        	<%- include('./partials/totalRevenueCard') -%>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
          <%- include('./partials/invoiceCard') -%>
          <!-- include file="/WEB-INF/views/admin/pages/dashboard/partials/invoiceCard.jsp"%> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="row">
            <div class="col-12 mb-4 d-none">
              
            	<!-- @include file="/WEB-INF/views/admin/pages/dashboard/partials/topRevenueProductsCard.jsp"%> -->
            </div>
            <div class="col-12 col-xxl-6 mb-4">
                <%- include('./partials/mostViewedProductsCard', {mostViewedProducts}) -%>
            </div>
            <div class="col-12 col-xxl-6 mb-4">
              <%- include('./partials/mostViewedWordsCard', {mostViewedWords}) -%>
            	<!-- @include file="/WEB-INF/views/admin/pages/dashboard/partials/topFavortiteProductsCard.jsp"%> -->
            </div>
            <div class="col-12">
                <%- include('./partials/latestOrdersCard', {latestOrders}) -%>
            	<!-- @include file="/WEB-INF/views/admin/pages/dashboard/partials/lastestOrdersCard.jsp"%> -->
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4">
          <div class="col-12 px-0 mb-4">
            <%- include('./partials/ordersChartCard') -%>
          	<!-- @include file="/WEB-INF/views/admin/pages/dashboard/partials/ordersChartCard.jsp"%> -->
          </div>
          <div class="col-12 px-0 mb-4">
            <%- include('./partials/totalCategoryCard') -%>
          	<!-- @include file="/WEB-INF/views/admin/pages/dashboard/partials/totalCategoryCard.jsp"%> -->
          </div>
          <div class="col-12 px-0 mb-4">
            <!-- @include file="/WEB-INF/views/admin/pages/dashboard/partials/productsOfEachCategoryCard.jsp"%> -->

          </div>
          <div class="col-12 px-0">
           
          </div>
        </div>
      </div>
      

      <!-- Footer -->
      <%- include('../../components/footer/footer'); -%>
    </main>

    <!-- Scripts -->
    <%- include('../../components/footer/script'); -%>
  </body>
</html>
