<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <%- include('../../components/header/head'); -%>
    <!-- Favicon -->
    <%- include('../../components/header/favicon'); -%>
    <!-- Styles -->
    <%- include('../../components/header/styles'); -%>
  </head>
  <body>
    <!-- Side Bar -->
    <%- include('../../components/nav/sidebar'); -%>
    <main class="content">
      <!-- header bar -->
      <%- include('../../components/nav/navbar'); -%>
      <!-- breadcrumbs -->
      <%- include('../../components/nav/breadcrumbs'); -%>
      <div class="row">
        <div class="col-12">
          <div class="card border-0 shadow components-section">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-sm-12">
                  <form action = "<%=originalUrl%>/add" method = "POST">
                    <div class="mb-4">
                      <label for="categoryName">Name</label>
                      <input type="categoryName" class="form-control ${nameValid}" name = "name" id="categoryName" aria-describedby="categoryNameHelp" placeholder="Enter name" />
                      <errors name="name" class="invalid-feedback"/>
                    </div>
                    <div class="my-4">
                      <label for="textarea">Description</label>
                      <textarea class="form-control" name = "description" placeholder="Enter description" id="textarea" rows="4" ></textarea>
                    </div>
                    <!-- <div class="mb-3">
                      <img alt="Image" src="" id="preview-image" class="img-thumbnail" width = "200" height="200">
                    </div> -->
                    <!-- <div class="mb-3">
                      <label for="formFile" class="form-label">Choose images</label>
                      <input class="form-control" type="file" name = "image" id="image" />
                    </div> -->
                    <button class = "btn btn-primary" type="submit">Submit</button>
                    <script>
                      var previewImage = document.getElementById("preview-image");
                      var imageUpload = document.getElementById("image");
                      imageUpload.onchange = evt => {
                      	  const [file] = imageUpload.files
                      	  if (file) {
                      		  previewImage.src = URL.createObjectURL(file)
                      	  }
                      	}
                    </script>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <%- include('../../components/footer/footer'); -%>
    </main>
    <!-- Scripts -->
    <%- include('../../components/footer/script'); -%>
    
    <!-- Notyf -->
    <%- include('../../components/footer/notyf'); -%>
  </body>
</html>