<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <%- include('../../components/header/head'); -%>

    <!-- Favicon -->
    <%- include('../../components/header/favicon'); -%>

    <!-- Styles -->
    <%- include('../../components/header/styles'); -%>
  </head>

  <body>
    <!-- Side Bar -->
    <%- include('../../components/nav/sidebar'); -%>

    <!-- <jsp:useBean id="pagedListHolder" scope="request" type="org.springframework.beans.support.PagedListHolder" />
    <c:url value="${pagedLink }" var="pagedLink">
      <c:param name="p" value="~" />
    </c:url> -->

    <main class="content">
      <!-- header bar -->
      <%- include('../../components/nav/navbar'); -%>

      <!-- breadcrumbs -->
      <%- include('../../components/nav/breadcrumbs'); -%>

      <!-- search -->
      <%- include('../../components/nav/search'); -%>
     
      <div class="card card-body border-0 shadow table-wrapper table-responsive overflow-hidden">
        <table class="table table-hover table-responsive" id="datatable">
          <thead class="thead-dark">
            <tr>
              <th class="border-gray-200 rounded-start">#</th>
              <th class="border-gray-200">User Id</th>
              <th class="border-gray-200">Email</th>
              <th class="border-gray-200">Content</th>
              <th class="border-gray-200">Status</th>
              <!-- <th class="border-gray-200">Mô tả</th> -->
              <!-- <th class="border-gray-200">Loại</th> -->
              <!-- <th class="border-gray-200">Ngày thêm</th> -->
              <!-- <th class="border-gray-200">Hình ảnh</th> -->
              <th class="border-gray-200 rounded-end"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Item -->
            <% feedbacks.forEach(function(feedback){ %>
            <tr>
              <td>
                <a href="<%=originalUrl%>/<%=feedback.id%>" class="fw-bold"><%=feedback.id%></a>
              </td>
              <td><span class="fw-normal text-wrap"><%=feedback.user === null ? "" : feedback.user.id%></span></td>
              <td><span class="fw-bold text-wrap"><%=feedback.email === null ? "" : feedback.email%></span></td>
              <td><span class="fw-normal text-wrap"><%=feedback.content%></span></td>
              <td><span class="fw-normal text-wrap"><%=feedback.approved%></span></td>
              <!-- <td>
                  <span class="fw-bold text-wrap">
                    <fmt:setLocale value="vi_VN" scope="session" />
                    <fmt:formatNumber value="${product.price}" type="currency" />
                  </span>
                </td> -->

              <!-- <td><span class="fw-normal text-wrap">${product.description}</span></td>
                
                <td><span class="fw-bold text-danger text-wrap">${product.category.name}</span></td> -->

              <!-- <td>
                  <span class="fw-normal text-wrap">
                    <fmt:formatDate value="${product.dateAdded}" pattern="dd/MM/yyyy" />
                  </span>
                </td> -->

              <!-- <td>
                  <span class="fw-normal text-wrap">
                    <img src="${!product.images.isEmpty() ? product.images.get(0).image : ''}" width="100" height="100" alt="${product.name}" />
                  </span>
                </td> -->
              <td class="text-center">
                <div class="btn-group">
                  <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon icon-xxs" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                    </svg>

                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu py-0">
                    <a class="dropdown-item rounded-top" href="${applicationScope.productPage}/${product.id}">
                      <i class="bi bi-eye-fill dropdown-icon text-gray-400 me-2 icon-sm"></i>
                      Chi tiết
                    </a>
                    <a class="dropdown-item text-warning" href="${applicationScope.productPage}/edit/${product.id}">
                      <i class="bi bi-pencil-square dropdown-icon me-2"></i>
                      Chỉnh sửa
                    </a>
                    <a id="btnDelete" class="dropdown-item text-danger rounded-bottom" data-bs-toggle="modal" data-bs-target="#modal-warning" data-id="${product.id}">
                      <i class="bi bi-trash2-fill dropdown-icon me-2"></i>
                      Xoá
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>

        <!-- <div>
          <tg:adminPaging pagedListHolder="${pagedListHolder}" pagedLink="${pagedLink}" />
        </div> -->
      </div>

      <!-- Footer -->
      <%- include('../../components/footer/footer'); -%>
    </main>

    <!-- Modal Content -->
    <div class="modal fade" id="modal-warning" tabindex="-1" role="dialog" aria-labelledby="modal-warning" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="h5 modal-title">Xác nhận</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h5 class="my-0">Bạn có muốn xoá sản phẩm này?</h5>
            <!-- <small class="my-0 mt-4 text-wrap">Hãy chắc chắn sản phẩm đó không tồn tại trong các hoá đơn hoặc đơn hàng.</small> -->
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-danger" id="btnConfirm" href="">Đồng ý</a>
            <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal Content -->

    <!-- Scripts -->
    <%- include('../../components/footer/script'); -%>

    <script type="text/javascript">
      const btnDeletes = document.querySelectorAll("#btnDelete");

      btnDeletes.forEach((btnDelete) => {
        btnDelete.addEventListener("click", () => {
          let productId = btnDelete.dataset.id;
          const btnConfirm = document.querySelector("#btnConfirm");
          btnConfirm.href = "<c:out value='${applicationScope.productPage}'/>/delete/" + productId;
        });
      });
    </script>

    <!-- Notyf -->
    <%- include('../../components/footer/notyf'); -%>
  </body>
</html>
