<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <%- include('../../components/header/head'); -%>

    <!-- Favicon -->
    <%- include('../../components/header/favicon'); -%>

    <!-- Styles -->
    <%- include('../../components/header/styles'); -%>
  </head>
  <body>
    <!-- Side Bar -->
    <%- include('../../components/nav/sidebar'); -%>

    <main class="content">
     <!-- header bar -->
     <%- include('../../components/nav/navbar'); -%>

     <!-- breadcrumbs -->
     <%- include('../../components/nav/breadcrumbs'); -%>
              
            <div class="row pt-4">
                <div class="col-12 col-xl-8">
                    <div class="card card-body border-0 shadow">
                        <h2 class="h5 mb-4">Vocabulary Information</h2>
                        <form action ="<%=originalUrl%>/edit/<%=product.id%>" method = "post" modelAttribute="product" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="first_name">#</label>
                                        <input class="form-control" id="id" type="text" value="<%=product.id%>" path="id" readonly="true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="last_name">Word</label>
                                        <div class="input-group">
                                        	<input path="name" class="form-control" id="productName"  type="text" value = "${product.name}" />
                                    	</div>	
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="quantity">Pronunciation</label>
                                        <input class="form-control" id="quantity" path = "quantity" type="text" value = "${product.quantity }" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="unit">Đơn vị tính</label>
                                        <input class="form-control" id="unit" path = "unit" type="text" value = "${product.unit}" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div>
                                        <label for="price">Giá tiền</label>
                                        <div class="input-group">
                                        	<span class="input-group-text">
                                        		<svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
											</span>
                                        <input class="form-control" id="price" path="price" type="text" label="<fmt:formatNumber value='${product.price}' type='number' groupingUsed = 'false' />" />
                                    	</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label for="unit">Danh mục</label>
                                        <select path="category.id"  class="form-select ${categoryValid }" id="category" aria-describedby="catgoryHelp" >
	                                     	<option value="">Chọn danh mục của sản phẩm</option>
	                                     	<options items="${categories}" itemLabel="name" itemValue="id"/>
	                                 	</select>
	                                 	<errors path = "category" class="invalid-feedback"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3 d-flex overflow-auto pt-4 flex-nowrap" id="preview-images">
								<c:forEach items="${product.images}" var="image" varStatus="i">
									<div class='position-relative mr-2 me-3 animate__animated animate__fadeIn' style='height: 150px; width: 150px; flex: 0 0 auto'>
                                  		<i class='bi bi-x-circle-fill position-absolute top-0 start-100 translate-middle text-danger h5' onclick='removeFileFromFileList(this)' data-id="${i.index}"></i>
                                  	<img src='${image.image }' width='150' height='150' id="image"/>
                                  </div>
									<!-- <img src="${image.image }" width='150' height='150' id="image" data-id="${i.index}"/> -->
								</c:forEach>
							</div>

					          <div class="row mb-3">
					           <label for="formFile" class="form-label">Chọn file hình ảnh</label>
					           <input class="form-control" type="file" id="images" path="images" accept="image/*" multiple="multiple" />
					           <small class="form-text text-muted">Chỉ nhận file ảnh, kích thước tối đa 20MB</small>
					          </div>
                            
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Mô tả</label>
                                        <textarea class="form-control" id="description" path="description" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row align-items-center mb-3">
                                <div class="col-md-12">
                                    <label for="birthday">Ngày thêm</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                           <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                                        </span>
                                        
                                        <input path="dateAdded" label ="<fmt:formatDate value='${product.dateAdded}' pattern='dd/MM/yyyy' />" class="form-control" id="dateAdded" type="text" readonly="true" />                                               
                                     </div>
                                </div>
                            </div>
                            
                            <div class="mt-4">
                                <button class="btn btn-gray-800 mt-2 animate-up-2 d-inline-flex align-items-center" type="submit">
                                	<svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                                	Lưu
                                </button>
                            </div>
                            
                    </div>
                </div>
                
                <div class="col-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card shadow border-0 text-center p-0">
                                <div class="rounded-top">
                               		<img src="${product.images.size() != 0 ? product.images[0].image : '' }" class="img-fluid" style="height: 100%;" alt="${product.name}" id="hero-image"/>  		
                                </div>
                                <div class="card-body pb-5">
                                    <!-- <img src="../assets/img/team/profile-picture-1.jpg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait"> -->
                                    <h4>${product.name }</h4>
                                    <h6 class="fw-normal text-success">${product.category.name}</h6>
                                    <h4 class="text-gray d-flex align-items-center justify-content-center">
                                    	<svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path></svg>
                                    	${product.id }
                                    </h4>
                                    <p class="text-danger d-flex align-items-center justify-content-center mb-0">
                                    	<svg class="icon icon-xs me-2" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                                    	${product.favoriteProducts.size() }
                                    </p>
                                    <p class="text-info mb-4 d-flex align-items-center justify-content-center">
                                    	<svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
                                    	${product.views }
                                    </p>
                                    
                                    <a class="btn btn-sm btn-secondary d-inline-flex align-items-center" href="${applicationScope.productPage }/${product.id }">
                                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                        <span>Xem sản phẩm</span>
                                    </a>
                                </div>
                             </div>
                        </div>
                        
                        <!-- <div class="col-12">
                            <div class="card card-body border-0 shadow">
                                <h2 class="h5 mb-4">Đổi ảnh sản phẩm</h2>
                                <div class="d-flex align-items-center">
                                    <div class="me-3">
                                        Avatar
                                        <img class="rounded avatar-xl" src="../assets/img/profile-cover.jpg" alt="change cover">
                                    </div>
                                    <div class="file-field">
                                        <div class="d-flex justify-content-xl-center ms-xl-3">
                                            <div class="d-flex">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-paperclip icon text-gray-500 me-2" viewBox="0 0 16 16">
												  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
												</svg>
                                                <input type="file" name="image">
                                                <div class="d-md-block text-left">
                                                    <div class="fw-normal text-dark mb-1">Chọn hình ảnh</div>
                                                    <div class="text-gray small">JPG, GIF hoặc PNG. Kích thước tối đa 800K</div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>                                        
                                </div>
                            </div>
                        </div> -->
                        </form>
                    </div>
                </div>
            </div>
		 <!-- Footer -->
         <%- include('../../components/footer/footer'); -%>
        </main>
    
        <!-- Scripts -->
        <%- include('../../components/footer/script'); -%>
    
        <!-- Notyf -->
        <%- include('../../components/footer/notyf'); -%>
</body>

</html>
